[Unit]
Description=GPIO Hotspot Control
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/gpio_hotspot.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target