[Unit]
Description=MaintNode agent

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi
ExecStart=/usr/local/bin/maintnode-agent https://mechbase.arpedon.com/api/maintnode-configs/:uuid /home/pi/config/mcc.yaml

[Install]
WantedBy=multi-user.target
